# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Git repository
.git/
.gitignore

# IDE configurations
.idea/
*.iml

# Image files
*.png

# Other unwanted files
*.log
*.env

.dockerignore
.env
auroqa.tar
database.sql
database.sqlite
docker-build.sh
docker-postgres.sh
docker-run.sh
Dockerfile
tests/swagger.json
model/data/login_page.png
model/data/dashboard_page.png
testing-platform.iml
llm_env
model
tests
/archive/
