{
    "swagger": "2.0",
    "info": {
        "title": "API documentation",
        "contact": {
            "name": "Lucy Support",
            "email": "support@lucysecurity.com"
        },
        "version": "1.0"
    },
    "host": "lucyqa.lucysecurity.com",
    "basePath": "\/api",
    "schemes": [
        "https"
    ],
    "paths": {
        "\/auth": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Authentication request",
                "parameters": [
                    {
                        "name": "auth",
                        "in": "body",
                        "description": "Credentials for authorization (allowed for admin or user with REST API permission)",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/AuthRequest",
                            "example": {
                                "email": "default@user.com",
                                "password": "123"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "$ref": "#\/definitions\/AuthResponse"
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/languages": {
            "get": {
                "tags": [
                    "Language"
                ],
                "summary": "Retrieve a list of Languages",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "default",
                            "-id",
                            "-name",
                            "-default"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "languages"
                            ],
                            "properties": {
                                "languages": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/Language"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/languages\/{id}": {
            "get": {
                "tags": [
                    "Language"
                ],
                "summary": "Retrieve the Language for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Language",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "language"
                            ],
                            "properties": {
                                "language": {
                                    "$ref": "#\/definitions\/Language"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/clients": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Retrieve a list of Clients",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "country",
                            "state",
                            "city",
                            "address",
                            "postcode",
                            "website",
                            "email",
                            "phone",
                            "fax",
                            "contact",
                            "-id",
                            "-name",
                            "-country",
                            "-state",
                            "-city",
                            "-address",
                            "-postcode",
                            "-website",
                            "-email",
                            "-phone",
                            "-fax",
                            "-contact"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "clients"
                            ],
                            "properties": {
                                "clients": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/Client"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Client"
                ],
                "summary": "Create a Client",
                "parameters": [
                    {
                        "name": "client",
                        "in": "body",
                        "description": "The Client to create",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Client"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "client"
                            ],
                            "properties": {
                                "client": {
                                    "$ref": "#\/definitions\/Client"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/clients\/{id}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Retrieve the Client for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Client",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "client"
                            ],
                            "properties": {
                                "client": {
                                    "$ref": "#\/definitions\/Client"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Client"
                ],
                "summary": "Update details for the specified Client",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Client",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "client",
                        "in": "body",
                        "description": "The Client details to update",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Client"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "client"
                            ],
                            "properties": {
                                "client": {
                                    "$ref": "#\/definitions\/Client"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Client"
                ],
                "summary": "Request the deletion of a Client",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Client",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/scenario-templates": {
            "get": {
                "tags": [
                    "ScenarioTemplate"
                ],
                "summary": "Retrieve a list of Scenario Templates",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "client_id",
                            "name",
                            "description",
                            "no_landing",
                            "message_type",
                            "lure_message_type",
                            "created_at",
                            "updated_at",
                            "license",
                            "license_priority",
                            "type",
                            "category",
                            "audience",
                            "forbid",
                            "-id",
                            "-client_id",
                            "-name",
                            "-description",
                            "-no_landing",
                            "-message_type",
                            "-lure_message_type",
                            "-created_at",
                            "-updated_at",
                            "-license",
                            "-license_priority",
                            "-type",
                            "-category",
                            "-audience",
                            "-forbid"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "scenario-templates"
                            ],
                            "properties": {
                                "scenario-templates": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/ScenarioTemplate"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/scenario-templates\/{id}": {
            "get": {
                "tags": [
                    "ScenarioTemplate"
                ],
                "summary": "Retrieve the Scenario Template for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Scenario Template",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "scenario-template"
                            ],
                            "properties": {
                                "scenario-template": {
                                    "$ref": "#\/definitions\/ScenarioTemplate"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ScenarioTemplate"
                ],
                "summary": "Request the deletion of a Scenario Template",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Scenario Template",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/scenario-templates\/landing": {
            "post": {
                "tags": [
                    "ScenarioTemplate"
                ],
                "summary": "Request for creation\/modification template file",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/UploadFileData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/awareness-templates": {
            "get": {
                "tags": [
                    "AwarenessTemplate"
                ],
                "summary": "Retrieve a list of Awareness Templates",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "description",
                            "email_sender_name",
                            "email_sender",
                            "quiz",
                            "created_at",
                            "updated_at",
                            "license",
                            "license_priority",
                            "-id",
                            "-name",
                            "-description",
                            "-email_sender_name",
                            "-email_sender",
                            "-quiz",
                            "-created_at",
                            "-updated_at",
                            "-license",
                            "-license_priority"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "awareness-templates"
                            ],
                            "properties": {
                                "awareness-templates": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/AwarenessTemplate"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/awareness-templates\/{id}": {
            "get": {
                "tags": [
                    "AwarenessTemplate"
                ],
                "summary": "Retrieve the Awareness Template for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Awareness Template",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "awareness-template"
                            ],
                            "properties": {
                                "awareness-template": {
                                    "$ref": "#\/definitions\/AwarenessTemplate"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AwarenessTemplate"
                ],
                "summary": "Request the deletion of a Scenario Template",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Awareness Template",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/awareness-templates\/file": {
            "post": {
                "tags": [
                    "AwarenessTemplate"
                ],
                "summary": "Request for creation\/modification template file",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/UploadFileData"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/attachment-templates": {
            "get": {
                "tags": [
                    "AttachmentTemplate"
                ],
                "summary": "Retrieve a list of Attachment Templates",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "description",
                            "created_at",
                            "updated_at",
                            "scenarioType",
                            "-id",
                            "-name",
                            "-description",
                            "-created_at",
                            "-updated_at",
                            "-scenarioType"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "attachment-templates"
                            ],
                            "properties": {
                                "attachment-templates": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/AttachmentTemplate"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/attachment-templates\/{id}": {
            "get": {
                "tags": [
                    "AttachmentTemplate"
                ],
                "summary": "Retrieve the Attachment Template for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Attachment Template",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "attachment-template"
                            ],
                            "properties": {
                                "attachment-template": {
                                    "$ref": "#\/definitions\/AttachmentTemplate"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "AttachmentTemplate"
                ],
                "summary": "Request the deletion of a Scenario Template",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Attachment Template",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/attachment-templates\/variables\/{id}": {
            "get": {
                "tags": [
                    "AttachmentTemplate"
                ],
                "summary": "Retrieve a list of Variables for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Attachment Template",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "$ref": "#\/definitions\/AttachmentTemplateVariables"
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/report-templates": {
            "get": {
                "tags": [
                    "ReportTemplate"
                ],
                "summary": "Retrieve a list of Report Templates",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "-id",
                            "-name"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "report-templates"
                            ],
                            "properties": {
                                "report-templates": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/ReportTemplate"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/report-templates\/{id}": {
            "get": {
                "tags": [
                    "ReportTemplate"
                ],
                "summary": "Retrieve the Report Template for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Report Template",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "report-template"
                            ],
                            "properties": {
                                "report-template": {
                                    "$ref": "#\/definitions\/ReportTemplate"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/campaigns\/templates": {
            "get": {
                "tags": [
                    "CampaignTemplate"
                ],
                "summary": "Retrieve a list of Campaign Templates",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "-id",
                            "-name"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "campaign-templates"
                            ],
                            "properties": {
                                "campaign-templates": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/CampaignTemplate"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/recipient-groups": {
            "get": {
                "tags": [
                    "RecipientGroup"
                ],
                "summary": "Retrieve a list of Recipient Groups",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "usb_attack",
                            "-id",
                            "-name",
                            "-usb_attack"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient-groups"
                            ],
                            "properties": {
                                "recipient-groups": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/RecipientGroup"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "RecipientGroup"
                ],
                "summary": "Create a Recipient Group",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The Recipient Group to create",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/RecipientGroup"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient-group"
                            ],
                            "properties": {
                                "recipient-group": {
                                    "$ref": "#\/definitions\/RecipientGroup"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/recipient-groups\/{id}": {
            "get": {
                "tags": [
                    "RecipientGroup"
                ],
                "summary": "Retrieve the Recipient Group for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Group",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient-group"
                            ],
                            "properties": {
                                "recipient-group": {
                                    "$ref": "#\/definitions\/RecipientGroup"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "RecipientGroup"
                ],
                "summary": "Update details for the specified Recipient Group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Group",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The Recipient Group details to update",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/RecipientGroup"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient-group"
                            ],
                            "properties": {
                                "recipient-group": {
                                    "$ref": "#\/definitions\/RecipientGroup"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "RecipientGroup"
                ],
                "summary": "Request the deletion of a Recipient Group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Group",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/recipients\/{id}": {
            "get": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Retrieve the Recipient for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient"
                            ],
                            "properties": {
                                "recipient": {
                                    "$ref": "#\/definitions\/RecipientResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Update details for the specified Recipient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "recipient",
                        "in": "body",
                        "description": "The Recipient details to update",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Recipient"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient"
                            ],
                            "properties": {
                                "recipient": {
                                    "$ref": "#\/definitions\/RecipientResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Request the deletion of a Recipient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/recipients\/{id}\/stats": {
            "get": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Retrieve the Recipient Stats for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient_stats"
                            ],
                            "properties": {
                                "recipient_stats": {
                                    "$ref": "#\/definitions\/RecipientStatsResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/recipient-groups\/{id}\/recipients": {
            "get": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Retrieve a list of the Recipients for the specified Recipient Group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Group",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "email",
                            "name",
                            "firstname",
                            "lastname",
                            "staff_type",
                            "location",
                            "division",
                            "comment",
                            "recipient_group_id",
                            "link",
                            "phone",
                            "language_id",
                            "last_tested",
                            "gender",
                            "ldap_based",
                            "objectguid",
                            "external_id",
                            "-id",
                            "-email",
                            "-name",
                            "-firstname",
                            "-lastname",
                            "-staff_type",
                            "-location",
                            "-division",
                            "-comment",
                            "-recipient_group_id",
                            "-link",
                            "-phone",
                            "-language_id",
                            "-last_tested",
                            "-gender",
                            "-ldap_based",
                            "-objectguid",
                            "-external_id"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipients"
                            ],
                            "properties": {
                                "recipients": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/RecipientResponse"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Add a Recipient to the specified Recipient Group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Group",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "recipient",
                        "in": "body",
                        "description": "The Recipient to create",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Recipient"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient"
                            ],
                            "properties": {
                                "recipient": {
                                    "$ref": "#\/definitions\/RecipientResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/recipient-groups\/{id}\/recipients\/{externalId}": {
            "get": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Retrieve the Recipient for the specified External ID and Recipient Group",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Group",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "externalId",
                        "in": "path",
                        "description": "External ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient"
                            ],
                            "properties": {
                                "recipient": {
                                    "$ref": "#\/definitions\/RecipientResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Update details for the specified Recipient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Group",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "externalId",
                        "in": "path",
                        "description": "External ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "recipient",
                        "in": "body",
                        "description": "The Recipient details to update",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/Recipient"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient"
                            ],
                            "properties": {
                                "recipient": {
                                    "$ref": "#\/definitions\/RecipientResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Recipient"
                ],
                "summary": "Request the deletion of a Recipient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Group",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "externalId",
                        "in": "path",
                        "description": "External ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/recipient-custom-fields": {
            "get": {
                "tags": [
                    "RecipientCustomField"
                ],
                "summary": "Retrieve a list of the Recipient Custom Fields",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "ldap_attribute",
                            "-id",
                            "-name",
                            "-ldap_attribute"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient-custom-fields"
                            ],
                            "properties": {
                                "recipient-custom-fields": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/RecipientCustomField"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "RecipientCustomField"
                ],
                "summary": "Create a Recipient Custom Field",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The Recipient Custom Field to create",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/RecipientCustomField"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient-custom-field"
                            ],
                            "properties": {
                                "recipient-custom-field": {
                                    "$ref": "#\/definitions\/RecipientCustomField"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/recipient-custom-fields\/{id}": {
            "get": {
                "tags": [
                    "RecipientCustomField"
                ],
                "summary": "Retrieve the Recipient Custom Field for the specified ID",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Custom Field",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient-custom-field"
                            ],
                            "properties": {
                                "recipient-custom-field": {
                                    "$ref": "#\/definitions\/RecipientCustomField"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "RecipientCustomField"
                ],
                "summary": "Update details for the specified Recipient Custom Field",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Custom Field",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "The Recipient Custom Field details to update",
                        "required": true,
                        "schema": {
                            "$ref": "#\/definitions\/RecipientCustomField"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "recipient-custom-field"
                            ],
                            "properties": {
                                "recipient-custom-field": {
                                    "$ref": "#\/definitions\/RecipientCustomField"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "RecipientCustomField"
                ],
                "summary": "Request the deletion of a Recipient Custom Field",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the Recipient Custom Field",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)"
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
                                "error"
                            ],
                            "properties": {
                                "error": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Error: Not Found",
                        "schema": {
                            "$ref": "#\/definitions\/NotFound"
                        }
                    },
                    "500": {
                        "description": "Error: Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "\/campaigns": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "summary": "Retrieve a list of Campaigns",
                "parameters": [
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Column to sort by",
                        "type": "string",
                        "enum": [
                            "id",
                            "name",
                            "benchmark_sector_id",
                            "started_at",
                            "stopped_at",
                            "created_at",
                            "status",
                            "recipients",
                            "-id",
                            "-name",
                            "-benchmark_sector_id",
                            "-started_at",
                            "-stopped_at",
                            "-created_at",
                            "-status",
                            "-recipients"
                        ]
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Offset results to the specified number of entries",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Max number of entries",
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request was successful (synchronous)",
                        "schema": {
                            "type": "object",
                            "required": [
                                "campaigns"
                            ],
                            "properties": {
                                "campaigns": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#\/definitions\/Campaign"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad Request",
                        "schema": {
                            "type": "object",
                            "required": [
[...]
